<ion-view title="Consultas e Exames" id="page4" style="background-color:#B6D8EE;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-calendar"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/grvOOQ2nSZubD7uhmtps_degrade-de-azul.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 64.9688px;"></div>
    <ion-list id="consultasEExames-list3">
      <ion-item id="consultasEExames-list-item9">Estabelecimento:</ion-item>
      <ion-item id="consultasEExames-list-item10">Dia do Agendamento:</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <h1 id="consultasEExames-heading3" style="color:#000000;"></h1>
    <button id="consultasEExames-button8" class="button button-balanced button-block"> Clique para + detalhes</button>
    <div class="spacer" style="width: 282.969px; height: 112.986px;"></div>
    <button id="consultasEExames-button9" class="button button-positive button-block icon ion-ios-arrow-back"> Voltar</button>
  </ion-content>
</ion-view>