<ion-view title="Detalhes" id="page7" style="background-color:#B6D8EE;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-add-circle"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/DC9ufQxfQROckSjvfwva_degrade-de-azul.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 125px;"></div>
    <form id="detalhes-form7" class="list">
      <ion-item class="item-divider" id="detalhes-list-item-divider2"> Consultas ou exames passados:</ion-item>
      <label class="item item-input" id="detalhes-textarea1">
        <span class="input-label"></span><textarea placeholder=""></textarea></label>
    </form>
    <div class="spacer" style="width: 300px; height: 141.997px;"></div>
    <button id="detalhes-button16" class="button button-positive button-block icon ion-ios-arrow-back"> Voltar</button>
  </ion-content>
</ion-view>