<ion-view title="E-MED" id="page2" style="background-color:#B6D8EE;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-balanced icon ion-medkit"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/Q2V7PSGkSmKTR7jwm3r5_degrade-de-azul.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 0.965279px;"></div>
    <div>
      <img src="img/Y0iagUtsQMCWM0FqYNAv_logo.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 8.98611px;"></div>
    <div id="eMED-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:20px;">Bem vindo ao E-MED!</p>
    </div>
    <div class="spacer" style="width: 300px; height: 18.9826px;"></div>
    <form id="eMED-form1" class="list">
      <ion-list id="eMED-list1">
        <label class="item item-input" id="eMED-input1">
          <span class="input-label">E-mail</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="eMED-input2">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 283px; height: 7px;"></div>
      <div class="spacer" style="width: 300px; height: 23px;"></div>
      <button id="eMED-button1" style="color:#FFFFFF;" class="button button-balanced button-block">Entrar</button>
      <a href-inappbrowser="/signup" id="eMED-button2" class="button button-light button-block button-clear">Ou crie uma conta</a>
    </form>
  </ion-content>
</ion-view>