<ion-view title="Home" id="page3" style="background-color:#B6D8EE;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/IhV0ZOuGRI4WahwQn1mk_degrade-de-azul.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 73px;"></div>
    <button id="home-button3" class="button button-positive button-block icon ion-android-calendar"> Consultas e Exames</button>
    <div class="spacer" style="width: 300px; height: 3px;"></div>
    <button id="home-button4" class="button button-positive button-block icon ion-ios-list"> Históricos de Agendamento</button>
    <div class="spacer" style="width: 300px; height: 3.98611px;"></div>
    <button id="home-button12" class="button button-positive button-block icon ion-person-stalker"> Sobre</button>
    <div class="spacer" style="width: 282.969px; height: 88.9861px;"></div>
    <button id="home-button6" class="button button-assertive button-block icon ion-android-close"> Fechar </button>
  </ion-content>
</ion-view>