<ion-view title="Inscreva-se" id="page5" style="background-color:#B6D8EE;">
  <ion-content padding="true" style="background: url(img/FEWZNiqMRFuPnWNmVmm4_degrade-de-azul.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 13.9965px;"></div>
    <div>
      <img src="img/AsxJFoZmQXa1oLXmv7Mz_logo.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 17.9688px;"></div>
    <div id="inscrevaSe-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:20px;"> Inscreva-se e comece a usar!</p>
    </div>
    <form id="inscrevaSe-form6" class="list">
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <ion-list id="inscrevaSe-list2">
        <label class="item item-input" id="inscrevaSe-input7">
          <input type="text" placeholder="Nome">
        </label>
        <label class="item item-input" id="inscrevaSe-input8">
          <input type="email" placeholder="E-mail">
        </label>
        <label class="item item-input" id="inscrevaSe-input9">
          <input type="text" placeholder="Senha">
        </label>
      </ion-list>
      <button id="inscrevaSe-button7" class="button button-balanced button-block">Criar Conta</button>
      <div class="spacer" style="width: 300px; height: 68px;"></div>
    </form>
    <button id="inscrevaSe-button10" class="button button-positive button-block icon ion-ios-arrow-back"> Voltar</button>
  </ion-content>
</ion-view>