<ion-view title="Sobre" id="page9" style="background-color:#B6D8EE;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-person-stalker"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/Cu1fW5PRSrdp1cfwWFBA_degrade-de-azul.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 100px;"></div>
    <div id="sobre-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Quem somos?</p>
    </div>
    <form id="sobre-form9" class="list">
      <div class="spacer" style="height: 100px;"></div>
    </form>
    <div id="sobre-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">E-mail para contato:</p>
    </div>
    <div class="spacer" style="width: 300px; height: 39.9688px;"></div>
    <div id="sobre-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">© todos os direitos reservados</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23.9896px;"></div>
    <button id="sobre-button17" class="button button-positive button-block icon ion-ios-arrow-back"> Voltar</button>
  </ion-content>
</ion-view>